
:root {
  --padding1: 30px;
  --padding2: 30px;
  --bg-gray: #F5F2E8;
  --line-gray: #756f6d;
  --text-gray: #333;
}

* { box-sizing: border-box; }

body {
  background: var(--bg-gray);
  font-family: 'Times New Roman';
  font-size: 18px;
  color: var(--text-gray);
  padding: var(--padding1);
  max-width: 1280px;
  margin: 0 auto;
  filter: grayscale(0.5);
}

a {
  color: var(--text-gray);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1,h2 {
  margin: 0;
  padding: 0;
}

h1 {
  border-bottom: 1px solid var(--line-gray);
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px;
  letter-spacing: 0.1em;
  font-variant-caps: small-caps;
  font-size: 42px;
}
h2 {
  margin-bottom: 10px;
}

article {
  text-align: justify;
}